/**index.less**/
page {
  font-family: 'Arial', sans-serif;
  background-color: #fcdce1;
  color: #5D4037;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  // background-image: url('{{welcomeImage}}');
  // padding-bottom: env(safe-area-inset-bottom);
}

.welcome-image {
  width: 100%;
}

.go-record-btn {
  height: 100rpx;
  background-color: #FF4081;
  color: #fff;
  text-align: center;
  font-size: 32rpx;
  font-weight: bold;
  line-height: 100rpx;
  border-radius: 10rpx;
  margin: 20rpx;
  box-shadow: 0 4rpx 10rpx rgba(0,0,0,0.1);
}