page {
    --button-border-radius: 12rpx;
    --button-default-color: #0554f0;
    --nav-bar-icon-color: #000;
    --toast-max-width: 100px;
    --nav-bar-background-color: pink;
    --toast-background-color: pink;
    --button-primary-color: #fff;
    --button-primary-background-color: #FF4081;
    --button-primary-border-color: #FF4081;
    --color-primary: #FF4081;
    --color-primary-light: #FFE0E5;
    --color-primary-dark: #B30036;
    --color-primary-text: #795548;
    --color-primary-text-light: #FFE0E5;
    --color-primary-text-dark: #B30036;
    --color-calories: #e44e12;
}